:root {
  --text-color: #373737;
  --background-color: white;
  --blogPost-background: white;
  --border-color: transparent;
  --box-shadow-color: rgba(0, 0, 0, 0.05);
  --heading-color: #373737;
  --summary-color: #555;
  --blogDate-color: #909090;
  --blurbParagraph-font-weight: 500;
  --blogImg-border-color: black;
  --blogImgCaption-color: #888;
}

.darkTheme {
  --text-color: #dcdcdc;
  --background-color: #1c1c1c;
  --blogPost-background: #2e2e2e;
  --border-color: transparent;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --heading-color: #dcdcdc;
  --summary-color: #dcdcdc;
  --blogDate-color: #a0a0a0;
  --blurbParagraph-font-weight: 500;
  --blogImg-border-color: #dcdcdc;
  --blogImgCaption-color: #a0a0a0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
}


.blurbParagraph {
  line-height: 1.9em;
  margin: 2em 0;
  font-size: 15px;
  font-weight: var(--blurbParagraph-font-weight);
}

.blogPost {
  width: 80%;
  max-width: 1100px;
  background: var(--blogPost-background);
  margin: 20px auto 0;
  background: linear-gradient(
        var(--blogPost-background),
        var(--blogPost-background)
      )
      padding-box,
    linear-gradient(to right, #244ae3, #04d7de) border-box;
  border-radius: 30px;
  border: 4px solid var(--border-color);
  box-shadow: 0 0 25px var(--box-shadow-color);
}

.introParagraph {
  width: 90%;
  max-width: 1100px;
  margin: 20px auto 0;
  margin-top: 10%;
}

.blog-hero {
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  background: url("https://images.unsplash.com/photo-1450101215322-bf5cd27642fc?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925")
    20% 70% no-repeat;
  background-size: cover;
  position: relative;
}

summary {
  margin-top: 20px;
  display: inline-block;
}

summary h3 {
  width: 100%;
  font-size: 2.5em;
  color: var(--summary-color);
  font-weight: 500;
}

summary .blogDate {
  width: 100%;
  font-size: 15px;
  padding-left: 2px;
  color: var(--blogDate-color);
}

article {
  padding-bottom: 50px;
}

.blogContent {
  width: 90%;
  margin: auto;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Ensure images start from the left */
  gap: 20px;
}

.imageContainer figure {
  margin: 0;
  width: calc(50% - 10px); /* Set width to 50% of the container minus gap */
}

.blogImg {
  border: 2px solid var(--blogImg-border-color);
  width: 100%;
  height: auto;
  border-radius: none;
  background-size: cover;
}

/* Additional CSS for smaller screens */
@media (max-width: 700px) {
  .imageContainer figure {
    width: 100%; /* Set width to 100% for single column layout */
  }
}

.referrences li {
  list-style-type: disc;
  margin-bottom: 10px;
  margin-top: 10px;
}

.blogImgSmall {
  margin-left: 45%;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
  padding-bottom: 5%;
  border-radius: none;
  background-size: cover;
  position: relative;
}

.blogImgCaption {
  margin-bottom: 5%;
  bottom: -30px;
  font-size: 0.9em;
  color: var(--blogImgCaption-color);
  left: 4%;
}

b {
  font-weight: bold;
}

@media (min-width: 601px) and (max-width: 1000px) {
  .blogPost {
    width: 90%;
  }

  .blogContent {
    width: 75%;
  }

  .blog-hero {
    padding-bottom: 35%;
  }
}

@media (max-width: 600px) {
  .blogPost {
    font-size: 0.9em;
    width: 90%;
  }

  .blogContent {
    width: 80%;
  }

  .blog-hero {
    padding-bottom: 60%;
  }
}
