/* seaturtle.css */



h2 {
  font-size: 1.8em;
  font-weight: 700;
}

h3 {
  font-size: 1.6em;
  font-weight: 700;
}

h4 {
  font-size: 1.4em;
}

.blurbParagraph {
  line-height: 1.9em;
  margin: 2em 0;
  font-size: 1em;
  font-weight: 500;
}

.blogPost {
  width: 80%;
  max-width: 1100px;
  background: white;
  margin: 20px auto 0;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #244ae3, #04d7de) border-box;
  border-radius: 30px;
  border: 4px solid transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
padding-top: 40px;
}

.introParagraph { font-size: 20px;
  width: 90%;
  max-width: 1100px;
  margin: 20px auto 0;
  margin-top: 10%;
}
.cardTitle{ font-weight: bold;
margin: 20px;margin-left: 10%;
}
.blog-hero {
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  background: url("https://images.unsplash.com/photo-1450101215322-bf5cd27642fc?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925")
    20% 70% no-repeat;
  background-size: cover;
  position: relative;
}

summary {
  margin-top: 20px;
  display: inline-block;
}

summary h3 {
  width: 100%;
  font-size: 2.5em;
  color: #555;
  font-weight: 500;
}

summary .blogDate {
  width: 100%;
  font-size: 15px;
  padding-left: 2px;
  color: #909090;
}

article {
  padding-bottom: 50px;
}

.blogContent {
  width: 90%;
  margin: auto;
}

.imageContainer {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.imageContainer figure {
  margin: 0;
  width: calc(50% - 10px); /* Set width to 50% of the container minus gap */
}
.beginning{
  margin-top: 100px;
}
.CardImg { 
  border: black 2px solid;
  width: 50%;
  height: auto;
  border-radius: none;
  background-size: cover;
}

/* Additional CSS for smaller screens */
@media (max-width: 700px) {
  .imageContainer figure {
    width: 100%; /* Set width to 100% for single column layout */
  }
}

.referrences li {
  list-style-type: disc;
  margin-bottom: 10px;
  margin-top: 10px;
}

.blogImgSmall {
  margin-left: 45%;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
  padding-bottom: 5%;
  border-radius: none;
  background-size: cover;
  position: relative;
}

.blogImgCaption {
  margin-bottom: 5%;
  bottom: -30px;
  font-size: 0.9em;
  color: #888;
  left: 4%;
}

b {
  font-weight: bold;
}

@media (min-width: 601px) and (max-width: 1000px) {
  .blogPost {
    width: 90%;
  }
  .blogContent {
    width: 75%;
  }
  .blog-hero {
    padding-bottom: 35%;
  }
}

@media (max-width: 600px) {
  .blogPost {
    font-size: 0.9em;
    width: 90%;
  }
  .blogContent {
    width: 80%;
  }
  
  .blog-hero {
    padding-bottom: 60%;
  }
}
