/* Colors */
:root {
  --dark-blue: #32325d;
  --gray: #f8f8f8;
}

/* Mobile first */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--gray);
}

/* Flex container */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */

  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0;
}

/* Cards */
.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: unset; /* Remove width: 100% */
  justify-content: space-between; /* Distribute cards evenly */
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3%;
  }
  @media (max-width: 40rem) {
    /* Use rem unit for screen width */
    width: 100%; /* Set width to 100% for screens under 40rem */
  }
}

.card-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
}

.card-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5em;
}

.card-title {
  font-size: 25px;
  line-height: 1.1em;
  color: var(--dark-blue);
  margin-bottom: 0.2em;
}

.card-image {
  height: 250px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
}
