.home {
  color: #000;

  position: relative;
}
body {
  color: #000;
}
.videoContainer {
  -webkit-box-shadow: 0px 8px 24px 0px rgba(0, 100, 186, 1);
  -moz-box-shadow: 0px 8px 24px 0px rgba(0, 100, 186, 1);
  box-shadow: 0px 8px 24px 0px rgba(0, 100, 186, 1);
  background-color: #2f64c7fd;
  border: none;
  position: relative;
  width: 100%;
}

.backgroundVideo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.videoOverlay {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
}
video {
  border: none;
}
.homeTitle {
  color: #f2f5f7;
  font-size: 4vw;
  margin: 0;
  padding: 0;
}

.additionalText {
  padding-left: 20%;
  display: none; /* Initially hide additional text */
}

@media screen and (min-width: 768px) {
  .additionalText {
    display: block; /* Show additional text on larger screens */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(-20%) translateY(-50%);
    width: 50%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
  }
}

.headings {
  font-size: 5vh;
  font-weight: bold;
  margin: 5%;
  text-align: center;
  color: black;
}
.blurb {
  margin: 10%;
}
