/* Light mode variables */
:root {
  --background-color: #ffffff;
  --text-color: #373737;
  --heading-color: #555555;
  --date-color: #909090;
  --image-border-color: #000000;
  --image-caption-color: #888888;
}

/* Dark mode variables */
.dark-mode {
  --background-color: #2e2e2e;
  --text-color: #dcdcdc;
  --heading-color: #cccccc;
  --date-color: #aaaaaa;
  --image-border-color: #ffffff;
  --image-caption-color: #bbbbbb;
}

/* Apply styles using variables */
h1,
h2,
h3,
h4,
.designParagraph,
.biggerHeading,
.littleHeadingDesign,
.blogImgDesignCaption,
summary h3,
summary .blogDate {
  color: var(--text-color);
}

h1 {
  font-size: 2em;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
}

h3 {
  font-size: 1.6em;
  font-weight: 700;
}

h4 {
  font-size: 1.4em;
}

.blogPost {
  width: 80%;
  max-width: 1100px;
  background: var(--background-color);
  margin: 20px auto 0;
  background: linear-gradient(var(--background-color), var(--background-color))
      padding-box,
    linear-gradient(to right, #244ae3, #04d7de) border-box;
  border-radius: 30px;
  border: 4px solid transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.introParagraph,
.blogContent {
  width: 90%;
  max-width: 1100px;
  margin: 20px auto 0;
}

.blog-hero {
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  background: url("https://images.unsplash.com/photo-1450101215322-bf5cd27642fc?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925")
    20% 70% no-repeat;
  background-size: cover;
  position: relative;
}

.summary h3 {
  width: 100%;
  font-size: 2.5em;
  color: var(--heading-color);
  font-weight: 500;
}

.summary .blogDate {
  width: 100%;
  font-size: 15px;
  padding-left: 2px;
  color: var(--date-color);
}

.article {
  padding-bottom: 50px;
}
.designParagraph {
  line-height: 1.5em;
  margin: 0.5em 3em;
  font-size: 1em;
  font-weight: 500;
}
.blogImgDesign {
  border: 2px solid var(--image-border-color);
  width: 100%;
  height: auto;
  border-radius: none;
  background-size: cover;
  position: relative;
}

.littleHeadingDesign {
  font-size: 2vw;
  font-family: cursive;
  padding: 20px;
  font-weight: bold;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.image-gallery figure {
  flex: 1 1 calc(50% - 1em);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .image-gallery {
    flex-direction: column;
  }

  .image-gallery figure {
    flex: 1 1 100%;
  }
}

.referrences li {
  list-style-type: disc;
  margin-bottom: 10px;
  margin-top: 10px;
}

.biggerHeading {
  font-size: 4vw;
  color: var(--text-color);
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

.littleHeadingDesign {
  font-size: 2vw;
  font-family: cursive;
  padding: 20px;
  font-weight: bold;
}

@media (min-width: 601px) and (max-width: 1000px) {
  .blogPost {
    width: 90%;
  }
  .blogContent {
    width: 75%;
  }
  .blog-hero {
    padding-bottom: 35%;
  }
}

@media (max-width: 600px) {
  .blogPost {
    font-size: 0.9em;
    width: 90%;
  }
  .blogContent {
    width: 80%;
  }
  .blogImgDesign {
    width: 90%;
    padding-bottom: 5%;
  }
  .blog-hero {
    padding-bottom: 60%;
  }
  .biggerHeading {
    font-size: 40px;
  }
  .littleHeadingDesign {
    font-size: 20px;
  }
}
