/* App.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

.app {
  background-image: linear-gradient(
    0deg,
    hsl(209deg 100% 9%) 0%,
    hsl(203deg 85% 18%) 6%,
    hsl(198deg 81% 28%) 12%,
    hsl(194deg 82% 36%) 18%,
    hsl(191deg 81% 45%) 24%,
    hsl(188deg 94% 56%) 30%,
    hsl(190deg 92% 71%) 37%,
    hsl(190deg 92% 80%) 44%,
    hsl(191deg 92% 87%) 53%,
    hsl(191deg 92% 94%) 65%,
    hsl(0deg 0% 100%) 90%
  );
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  z-index: -20;

  flex-grow: 1;
}
